<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Properties.Settings.sqConn" connectionString="Data Source=amadora.dyndns-ip.com;Persist Security Info=True;User ID=sa;Password=a27pw82xb"
            providerName="System.Data.SqlClient" />
        <add name="SaudeFact.Properties.Settings.sqlConn" connectionString="Data Source=localhost\sql2k5;Initial Catalog=montijo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="PDF_FOLDER" value="c:\PDF" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
      <add key="smsStringFormat" value="{0}, lembramos que tem uma consulta {1} as {2}. Caso nao possa comparecer por favor responda a esta mensagem ou contacte-nos pelo 212319070."/>
    </appSettings>
    <system.web>
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
        <providers>
          <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
        </providers>
      </membership>
      <roleManager defaultProvider="ClientRoleProvider" enabled="true">
        <providers>
          <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
        </providers>
      </roleManager>
    </system.web>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

</configuration>
