<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tester.Properties.Settings.Setting" connectionString="Data Source=NBJCARDEIRA\SQL2K5;Initial Catalog=vital_dent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>