<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CardeiraVenancio.Properties.Settings.VitalAmadora" connectionString="Driver={SQL Server};description=amadora;server=7.103.212.237;uid=recepcion;pwd=vitalrec;app=Microsoft® Visual Studio® 2010;wsid=NBJCARDEIRA" providerName="System.Data.Odbc"/>
    </connectionStrings>

  <appSettings>
  </appSettings>
<startup>
  <supportedRuntime version="v2.0.50727"/></startup></configuration>
